<html lang="en">

<% include static/header.html %>

<body onload="preloadImage('img/background.jpg');">
  <div class="ct" id="t1">
    <div class="ct" id="t2">
      <ul id="menu">
        <a id="s1" href="#t1"><li class="icon fa fa-keyboard-o" id="write"></li></a>
        <a id="s2" href="#t2"><li class="icon fa fa-list" id="list"></li></a>
      </ul>
      <div class="page" id="p1">
        <div class="wrapper">
          <div class="formContent">
            <div class="flexrow">
              <div id="contact"></div>
              <div class="sendcontent">
                <div class="flexcolumn">
                  <div class="sendheader">
                      <div class="input-group">
                        <input id="dest" type="text" class="form-control dest" name="to" readonly placeholder="Destinataires..">
                        <input id="login" type="hidden" name="login" value="<%= login %>">
                        <input id="password" type="hidden" name="password" value="<%= password %>">
                        <div class="input-group-append">
                          <button id="send" type="button" onclick="send();" class="btn btn-outline-primary sendbutton" name="submit">Envoyer &nbsp; <i class="fas fa-paper-plane"></i></button>
                        </div>
                      </div>
                  </div>
                  <div class="sendbody">
                    <textarea id="message" placeholder="Message" class="message" rows="10" name="message"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page" id="p2">
        <div class="wrapper">
          <div class="formContent">
            <div class="flexrow">
              <div id="messagelist" class="messages"></div>
              <div class="sendcontent">
                <div class="flexcolumn">
                  <div class="sendheader">
                    <input id="messagedest" type="text" class="form-control dest" name="to" placeholder="Destinataires..">
                  </div>
                  <div class="sendbody">
                    <textarea id="messagebody" placeholder="Message" class="message" rows="10" name="message"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include static/footer.html %>
</body>
</html>
