<head>
  <meta charset="utf-8">
  <title>EvolutiveSMS</title>
  <meta name="description" content="My new website"/>
  <link rel="shortcut icon" href="img/favicon.ico">
  <!-- Core CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="lib/tabulator-master/dist/css/bootstrap/tabulator_bootstrap4.min.css" rel="stylesheet">

  <link rel="stylesheet" href="css/interface.css">
</head>
